* {

}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.leaflet-left {
    left: 550px !important;
}

.leaflet-top {
    top: 20px !important;
}

#wrapper {
    position: absolute;
    top: 0;
    left: 25px;
    top: 25px;
    bottom: 25px;
    width: 525px;
    z-index: 420;
    overflow-x: hidden;
}

#sidebar {
    position: relative;
    height: 100%;
    width: 200%;
}


/* BASIC SIDEBAR STYLING */

#sidebar .pane {
    height: 100%;
    width: 50%;
    float: left;
    background-color: white;
    padding-top: 150px;
        text-overflow: ellipsis;
}

.header {
    padding: 20px;
    overflow: hidden;
    height: 150px;

    margin-top: -150px;
        text-overflow: ellipsis;
}
            
.contents {
    height: 100%;
    overflow-y: auto;
    padding: 25px;
    box-sizing: border-box;
}

.locations .list {
	margin: 20px -10px;
    padding: 0;
	position: relative;
    list-style: none;
    text-overflow: ellipsis;
}

.details .header a {
    display: block;
    width: 48px;
    float: left;
    margin: 33px 15px 0 5px;
        text-overflow: ellipsis;
}

.details .contents {
    margin: 0;
    padding: 0;
    overflow: hidden;
        text-overflow: ellipsis;
}

.details .contents iframe {
    width: 100%;
    height: 100%;
        text-overflow: ellipsis;
}

.details .contents .detailsdata {
    margin: 25px;
    padding: 0;
        text-overflow: ellipsis;
}